# Build outputs
bin/
obj/

# NuGet packages
*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Claude
.claude
.claude/

# Test Results
**/coverage.cobertura.xml
**/TestResults/
